<header>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="cursor"></div>
    <div class="main-header">
        <div class="site-head">
            <img src="{{asset('images/logo.jpg')}}" alt="logo" class="logo">
                {# <h1 class="site-name">Charles Létang</h1> #}
        </div>
            <div class="menu-navigation-container">
                <a href="{{ path('home') }}">Accueil</a>
                <a href="{{ path('about') }}">A propos</a>
                <a href="{{ path('work') }}">Travaux</a>
                <a href="{{ path('contact') }}">Contact</a>
            </div>
        <div class="footer">© 2022 Charles Létang</div>    
    </div>
</header>